body {
    background-color: #222;
}

.wrapper {
    background-color: #EEE;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: 1rem;
}

.illus {
    background-image: url('./../img/hokusai.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form--header,
.form--content,
.form--footer {
    padding:2rem 2rem 0 2rem;
}
.form--header {
    text-align: center;
}

.form--footer {
    color:#333;
    font-size: .8em;
}

.ninja-id {
    min-height: 300px;
}
.ninja-id.ninja-id_empty .card{
    display: none;
}
.ninja-id--name {
    text-align: center;
}
#ninja-avatar {
    box-shadow: 0 0 3px -1px #404040;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}